/* ============== VARIABLES ====================*/
$link-color: rgb(217, 131, 40);


h1 {font-size:40px;}
.post-list li {
    padding: 15px;
    background-color: yellow;
    border-radius: 10px;
    border: 2px solid blue;
    width: 50%;
}

a {
    color: $link-color;
    text-decoration: none;
  
    &:visited {
      color: $link-color;
    }
  
    &:hover {
      color: darken($link-color, 20%);
      text-decoration: underline;
    }
}